@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 10 10 10;
    --foreground: 250 250 250;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-memorial-dark text-memorial-gray-50 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
